:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Street';
    src: url('font/street.otf') ;
}

body {
    background-image: url('img/fondo2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Street', sans-serif;
}

h1 {
    color: crimson;
    font-size: 46px;
    text-align: center;
}
